@using WebSiteBanSach.Models
@model List<ChuDe>
@{
    ViewBag.Title = "DanhMucChuDe";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

@foreach (var item in Model)
{
    <a href="@Url.Action("SachTheoChuDe", new { @MaChuDe=item.MaChuDe})" style="width :425px;text-align:center;" class="button button-submit">@item.TenChuDe</a>
    <br />
}