@using WebSiteBanSach.Models;
@model List<Sach>
<h1 class="item-header">Sách mới</h1>
@{ 
    foreach (var item in Model)
    {
        <div class="activity-list-update">
            <img src="@Url.Content("~/HinhAnhSP/"+item.AnhBia)" width="45" height="60" alt="Image">
            <p><strong>Tiêu đề: @item.TenSach</strong><br /><a href="@Url.Action("XemChiTiet",new { @masach = item.MaSach })">Xem chi tiết</a></p>
            
            <div class="clear"></div>

        </div>
    }
}
<a href="#" class="item-footer green">Sách loại mới nhất</a>
